@media screen and (min-width: 800px) {
  /* .nav-header {
    padding: 1.5em 0;
  } */

  .contact-info a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .contact-info a svg {
    height: 20px;
  }
  .contact-info a {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
  }
}
