/* TYPOGRAPHY */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poller+One&family=Poppins&family=Rufina:wght@400;700&display=swap");

/* Global Settings */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* HEADER/NAVBAR */

.logo svg {
  width: 30px;
  height: 30px;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #771016;
  font-family: Poller One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.nav-center .test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.test .book {
  display: none;
}

.nav-center {
  display: block;
  padding: 1rem;
  background: white;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-toggle {
  display: block;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--text-gray-900, #18191f);
}

.links {
  display: block;
  width: 100%;
}
.links a {
  display: block;
  padding: 0.3rem 1em;
  transition: all 0.3s linear;
  color: #fff;
  font-family: Rufina;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.links a:hover {
  background: white;
  transition: all 0.3s linear;
  color: #771016;
}

.tog {
  width: 100%;
  height: 0;
  overflow: hidden;
  display: block;
  transition: all 0.3s linear;
  background: #771016;
}

.show-links {
  height: 13rem;
  transition: all 0.3s linear;
}

/* RESPONSIVE  */
/* HEADER */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1170px;
    padding: 0 0.5em;
    margin: 0 auto;
  }
  .logo a {
    display: flex;
    gap: 0.5em;
    padding: 0;
  }
  .test .book {
    display: block;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
  .test button {
    padding: 0.7em;
    background: #771016;
    border: none;
  }
  .nav-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }
  .tog {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
  }
  .links {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .links a {
    transition: none;
    border-bottom: 2px solid transparent;
  }
}
